<div *ngIf="posts.length;else loading" class="dashboard">
  <div>
    <input type="text" placeholder="Find Post..." [(ngModel)]="searchStr">
  </div>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Author</th>
      <th>Title</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts|searchPosts:searchStr;let idx=index">
      <td>{{idx + 1}}</td>
      <td>{{post.author}}</td>
      <td>{{post.title}}</td>
      <td>{{post.date|date:'medium':null:'ru'}}</td>
      <td>
        <button
          [routerLink]="['/admin','post',post.id,'edit']"
        >Go to post
        </button>
        <button (click)="remove(post.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<ng-template #loading>
  <h1 class="loading">Loading...</h1>
</ng-template>
