<form [formGroup]="form" (ngSubmit)="submit()" class="form">
  <h3 style="margin:15px auto;
  width: 70%">Create new post</h3>
  <div class="form-control"
       [ngClass]="{invalid:form.get('title').touched && form.get('title').invalid}"
  >
    <label for="title">Post Title:</label>
    <input id="title" type="text" formControlName="title">
    <div class="valid"
         *ngIf="form.get('title').touched && form.get('title').invalid"
    >
      <p *ngIf="form.get('title').errors['required']">No text</p>
    </div>
  </div>
  <div class="form-control">
    <label>Post content:</label>
    <quill-editor formControlName="text"></quill-editor>
  </div>
  <div class="form-control"
       [ngClass]="{invalid:form.get('author').touched && form.get('author').invalid}"
  >
    <label for="author">Post Author:</label>
    <input id="author" type="text" formControlName="author">
    <div class="valid"
         *ngIf="form.get('author').touched && form.get('author').invalid"
    >
      <p *ngIf="form.get('author').errors['required']">No text</p>
    </div>
    <button class="btn-dark" type="submit" [disabled]="form.invalid"
    >Create
    </button>
  </div>
</form>
